/* Posicionamiento */

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    gap: 0.25rem;

    width: 33.333333%;
    margin: 0 auto;
}

@media (max-width: 300px) {
    body {
        width: 100%;
    }
}

#resultado {
    grid-column-end: span 4;
}

.operaciones {
    grid-column-start: 4;
}

.numeros:nth-of-type(7),
.numeros:nth-of-type(8),
.numeros:nth-of-type(9) {
    grid-row-start: 2;
}

.numeros:nth-of-type(4),
.numeros:nth-of-type(5),
.numeros:nth-of-type(6) {
    grid-row-start: 3;
}

.numeros:nth-of-type(1),
.numeros:nth-of-type(2),
.numeros:nth-of-type(3) {
    grid-row-start: 4;
}

.numeros:nth-of-type(10) {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: span 3;
}

.operaciones:last-of-type {
    grid-column-start: 1;
    grid-column-end: span 4;
}

/* Colores */

input, button {
    border: 1px solid gray;
    border-radius: 0.25rem;
}

.operaciones {
    background-color: darkgray;
    color: white;
}

/* Otros */

#resultado {
    text-align: right;
}