/* Variables CSS (Custom Properties) */

:root {
    --color-fondo: white;
    --color-tinta: black;
    --color-fondo-titulo: black;
    --color-tinta-titulo: white;
    --margen-grande: 1rem;
    --margen-pequeno: 0.5rem;
    --tamano-letra: 16px;
    --alto-menu: calc(var(--tamano-letra) + var(--margen-pequeno)*2 - 2px);
}

/* Valores generales */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--tamano-letra);

    background-color: var(--color-fondo);
    color: var(--color-tinta);
}

p {
    line-height: 1.5;
    margin: 1rem 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: var(--margen-grande);
}

/* Cabecera */

header {
    text-align: center;
    background-color: var(--color-fondo-titulo);
    color: var(--color-tinta-titulo);

    padding: var(--margen-grande);
}

/* Menú */

nav {
    text-align: center;
    background-color: var(--color-fondo-titulo);
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav ul li {
    line-height: var(--alto-menu);
}

nav a {
    padding: calc(var(--margen-pequeno) - 2px);
    background-color: var(--color-fondo-titulo);
    color: var(--color-tinta-titulo);
}

nav>ul>li>a {
    display: inline-block;
    background-color: var(--color-tinta-titulo);
    color: var(--color-fondo-titulo);
    width: 100%;
}

/* Principal */

main {
    padding: var(--margen-pequeno);
}

/* Anuncios */

aside {
    padding: var(--margen-pequeno);
    line-height: 1.5;
}

/* Pie */

footer {
    padding: var(--margen-pequeno);
    background-color: var(--color-fondo-titulo);
    color: var(--color-tinta-titulo);
}

@media (min-width: 768px) {

    /* Menú */

    nav {
        position: sticky;
        top: 0;
        text-align: left;
    }

    nav>ul {
        flex-direction: row;
    }

    article,
    section {
        padding-top: var(--alto-menu);
    }

    nav>ul>li {
        display: inline-block;
        vertical-align: top;
    }

    nav li ul {
        display: none;
        position: absolute;
        background-color: var(--color-fondo-titulo);
    }

    nav li:hover ul {
        display: flex;
    }

    nav a:hover {
        background-color: var(--color-tinta-titulo);
        color: var(--color-fondo-titulo);
    }

    nav>ul>li>a {
        display: inherit;
        background-color: var(--color-fondo-titulo);
        color: var(--color-tinta-titulo);
        width: auto;
    }

    nav>ul>li:last-of-type {
        margin-left: auto;
    }

    /* Imágenes */

    img {
        max-width: 50%;
        height: auto;
        width: auto;

        /* float: right; */
    }

    section {
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        width: 100%;
    }

    article {
        padding: var(--margen-pequeno);
        width: 50%;
        text-align: justify;
    }
}

@media (min-width: 959px) {
    article {
        width: 33.3333%;
    }
}

@media (min-width: 1024px) {
    header {
        grid-area: cabecera;
    }

    body>nav {
        grid-area: menu;
    }

    main {
        grid-area: principal;
    }

    aside {
        grid-area: anuncios;
    }

    footer {
        grid-area: pie;
    }

    body {
        display: grid;

        grid-template-columns: 5fr 1fr;
        grid-template-rows: auto;

        grid-template-areas:
            "cabecera cabecera"
            "menu menu"
            "principal anuncios"
            "pie pie";
    }
}

@media (min-width: 1280px) {
    body {
        grid-template-columns: 1fr 6fr 1fr;

        grid-template-areas:
            "cabecera cabecera cabecera"
            "menu principal anuncios"
            "pie pie pie";
    }

    nav>ul {
        flex-direction: column;
    }

    nav>ul>li>ul {
        margin-left: 5rem;
        margin-top: calc(-1 * var(--alto-menu));
    }

    nav>ul>li:last-of-type {
        margin-left: inherit;
    }
}